.Card {
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f4f5f7;
  cursor: pointer;
}

.Card[data-status="backlog"] {
  background-color: rgba(167, 158, 158, 0.671);
  color: black;
}

.Card[data-status="in-progress"] {
  background-color: #0052cc;
  color: black;
}

.Card[data-status="complete"] {
  background-color: #00875a;
  color: black;
}

.Card-title {
  font-weight: bold;
}
